In [1]:
import pandas as pd

URL = 'https://raw.githubusercontent.com/ajduberstein/oakland_point_cloud/master/%s'
DATA_URL = URL % 'lidar_chunks_1.csv'
LOOKUP_URL = URL % 'ground_truth_label.csv'
lidar = pd.read_csv(DATA_URL)
lookup = pd.read_csv(LOOKUP_URL)
lidar = lidar.merge(lookup)

In [2]:
print('Number of points:', lidar.count())
lidar.head()

Number of points: x             807297
y             807297
z             807297
label_id      807297
confidence    807297
label_name    807297
dtype: int64

       x      y     z  label_id  confidence label_name
0 -16.97 -27.84  5.72      1400           2    facade
1 -16.98 -27.83  5.42      1400           2    facade
2 -17.09 -28.00  5.73      1400           2    facade
3 -17.12 -28.00  5.42      1400           2    facade
4 -17.07 -27.98  5.14      1400           2    facade

In [3]:
from pydeck import data_utils

color_lookup = data_utils.assign_random_colors(lidar['label_name'])

lidar['color'] = lidar.apply(lambda row: color_lookup.get(row['label_name']), axis=1)

lidar.head()

       x      y     z  label_id  confidence label_name          color
0 -16.97 -27.84  5.72      1400           2    facade   [71, 12, 127]
1 -16.98 -27.83  5.42      1400           2    facade   [71, 12, 127]
2 -17.09 -28.00  5.73      1400           2    facade   [71, 12, 127]
3 -17.12 -28.00  5.42      1400           2    facade   [71, 12, 127]
4 -17.07 -27.98  5.14      1400           2    facade   [71, 12, 127]

In [8]:
from pydeck import (
    Deck,
    Layer,
    ViewState,
    View
)

point_cloud = Layer(
    'PointCloudLayer',
    lidar[['x', 'y', 'z', 'label_name', 'color']].sample(10000),
    # You can specify the XYZ coordinate in a list as a string
    get_position='[x, y, z]',
    coordinate_system='COORDINATE_SYSTEM.METERS',
    get_normal=[0, 0, 1],
    get_color='color',
    radius_pixels=4)

r = Deck(
    point_cloud,
    initial_view_state=ViewState(
        fov=2,
        rotation_x=0,
        max_zoom=100,
        rotation_orbit=0,
        orbit_axis='Y',
        zoom=1,
        distance=10,
        min_distance=1,
        max_distance=100
    ),
    map_style=None
)
r.show()

DeckGLWidget(json_input='{"initialViewState": {"bearing": 0, "distance": 10, "fov": 2, "latitude": 0.0, "longiâ€¦